@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

:root {
  --green-brand: #3c8533;
  --green-brand-dark: #2f6a28;
  --green-brand-dark-super: #183614;

  --yellow-brand: #ffa300;
  --yellow-brand-dark: #f18000;

  --gray-dark: #333333;
  --gray-off: #a3a3a3;

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

/*_______________________BUTTONS_______________________*/

button {
  text-decoration: none;
  font-weight: 900;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 12px;
  transition: 0.3 ease;
  transition-property: background-color, color;
  cursor: pointer;
}

#presentation .cta {
  font-size: 1.8rem;
  background-color: var(--green-brand);
  width: 160px;
  height: 48px;
  margin-top: 24px;
}

#presentation .cta:hover {
  font-size: 1.8rem;
  background-color: var(--green-brand-dark);
  border: none;
  width: 160px;
  height: 48px;
  margin-top: 24px;
}

.primary-button {
  font-size: 1.2rem;
  background-color: var(--green-brand);
  border: none;
  width: 120px;
  height: 42px;
  margin-top: 24px;
}

.primary-button:hover {
  font-size: 1.2rem;
  background-color: var(--yellow-brand);
  border: none;
  width: 120px;
  height: 42px;
  margin-top: 24px;
}

.secondary-button {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--green-brand);
  background-color: transparent;
  border: 1px solid var(--green-brand);
  width: 120px;
  height: 42px;
  margin-top: 24px;
  margin-left: 16px;
}

.secondary-button:hover {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color: var(--yellow-brand);
  border: 1px solid transparent;
  width: 120px;
  height: 42px;
  margin-top: 24px;
  margin-left: 16px;
}

/*_______________________INDEX_______________________*/

#presentation {
  background-image: url(./assets/backgound-image-.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
}

#presentation::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(----green-brand-dark-super);
  opacity: 0.4;
  z-index: -1;
}

#presentation img {
  width: 56px;
  margin-bottom: 16px;
}

#presentation h1 {
  font-size: 5.6rem;
  font-weight: 700;
  color: white;
  position: relative;
  width: fit-content;
}

/*_______________________INNER_______________________*/

/*title inner*/
.features-title {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.features-title-icon img {
  display: none;
}

.features-title img {
  float: left;
  margin-left: 12%;
  width: 175%;
}

.features-title h1 {
  font-size: 5.6rem;
  font-weight: 900;
  color: var(--gray-dark);
}

.features-title p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray-dark);
  width: 340px;
  margin-top: 16px;
}

/*features*/
.features-presentation {
  min-height: 100vh;
}

.features-highlights {
  text-align: center;
}

.features-highlights h1 {
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--gray-dark);
}

.features-highlights p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray-dark);
}

.features-highlights-itens {
  display: flex;
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  gap: 48px;
  text-align: center;
}

.features-highlights-itens .primary-button {
  font-size: 1.2rem;
  background-color: var(--green-brand);
  width: 120px;
  height: 42px;
  margin-top: 24px;
  border: none;
}

.features-highlights-itens .primary-button:hover {
  font-size: 1.2rem;
  background-color: var(--yellow-brand);
  width: 120px;
  height: 42px;
  margin-top: 24px;
  border: none;
}

.features-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  margin: 20px auto;
  border-radius: 16px;
  border: none;
  background-color: transparent;
  padding: 40px;
  color: var(--gray-dark);
  height: 400px;
  justify-content: center;
}

.features-item:hover {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  margin: 20px auto;
  border-radius: 16px;
  border: none;
  background-color: var(--green-brand);
  padding: 40px;
  border-radius: 16px;
  color: white;
  height: 400px;
}

.features-item:hover button {
  background-color: transparent;
  border: 1px solid white;
}

.features-item:hover button:hover {
  background-color: var(--yellow-brand);
  border: none;
}

.features-item h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 24px;
  margin-bottom: 8px;
  padding: auto;
}

.features-item figure img {
  float: left;
  visibility: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  z-index: -1;
}

.features-item figure {
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
}

.features-item-1 figure {
  background-image: url(./assets/monte-gabinetes-green.svg);
}

.features-item-2 figure {
  background-image: url(./assets/adicione-laranjas-green.svg);
}

.features-item-3 figure {
  background-image: url(./assets/recolha-pagamentos-green.svg);
}

.features-item-1:hover figure {
  background-image: url(./assets/monte-gabinetes-yellow.svg);
}

.features-item-2:hover figure {
  background-image: url(./assets/adicione-laranjas-yellow.svg);
}

.features-item-3:hover figure {
  background-image: url(./assets/recolha-pagamentos-yellow.svg);
}

/*new currency*/
.new-currency {
  background-image: url(./assets/backgound-image-.jpg);
  min-height: 80vh;
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
}

.new-currency::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(----green-brand-dark-super);
  opacity: 0.4;
  z-index: -1;
}

.create-new-currency h2 {
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--yellow-brand);
}

.create-new-currency h3 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-top: 8px;
}

.create-new-currency p {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  width: 480px;
  margin-top: 16px;
}

.create-new-currency .white-button {
  font-size: 1.2rem;
  background-color: var(--green-brand);
  width: 120px;
  height: 42px;
  margin-top: 24px;
  color: white;
  border: none;
}

.create-new-currency .white-button:hover {
  font-size: 1.2rem;
  background-color: var(--yellow-brand);
  width: 120px;
  height: 42px;
  margin-top: 24px;
  border: none;
}

/*_______________________FORMS_______________________*/

form label {
  display: none;
}

.form-itens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-header {
  text-align: right;
}

.form-header img {
  width: 400px;
  margin-right: 32px;
  border-radius: 4px;
}

.form-inputs {
  width: 400px;
  margin-left: 32px;
  text-align: center;
  margin-top: 8px;
}

.form-inputs h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 8px;
  padding: auto;
  color: var(--gray-dark);
}

.form-inputs [type="text"] {
  width: 48%;
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--gray-off);
  background-color: white;
  margin-top: 16px;
}

.form-inputs [type="text"]:focus {
  outline: none;
  font-weight: 400;
  border-bottom: 1px solid var(--yellow-brand);
  background-color: white;
}

.form-inputs [type="number"] {
  width: 48%;
  padding: 8px;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--gray-off);
}

.form-inputs [type="number"]:focus {
  outline: none;
  border-bottom: 1px solid var(--yellow-brand);
  background-color: white;
}

.form-inputs [type="mail"] {
  width: 48%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--gray-off);
  background-color: white;
}

.form-inputs [type="mail"]:focus {
  outline: none;
  border-bottom: 1px solid var(--yellow-brand);
  background-color: white;
}

.form-inputs .mensagem [type="text"] {
  width: 97%;
  margin-top: 16px;
  height: 100px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--gray-off);
  background-color: white;
}

.form-inputs .mensagem [type="text"]:focus {
  outline: none;
  border-bottom: 1px solid var(--yellow-brand);
  background-color: white;
}

/*_______________________FOOTER_______________________*/

footer {
  background-color: var(--green-brand);
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

footer .paragrafos-footer {
  display: inline-block;
  text-align: left;
}

footer .paragrafos-footer p strong {
  font-weight: 700;
}

footer .imagem-footer {
  text-align: right;
  margin-right: 48px;
  border-right: 2px solid white;
  padding-right: 48px;
}

footer img {
  width: 160px;
}

footer p {
  color: white;
  font-size: 1.3rem;
}

footer .icones-footer img {
  width: 40px;
  margin-left: 12px;
}

@media (max-width: 768px) {
  #presentation h1 {
    font-size: 4rem;
  }

  #presentation .cta {
    font-size: 1.8rem;
    background-color: var(--green-brand);
    width: 140px;
    height: 42px;
    margin-top: 4px;
  }

  #presentation .cta:hover {
    font-size: 1.8rem;
    background-color: var(--green-brand-dark);
    width: 140px;
    height: 42px;
    margin-top: 16px;
  }

  .features-title {
    min-height: 100vh;
  }

  .features-title h1 {
    font-size: 3.2rem;
    max-width: 60%;
    margin-left: 20%;
  }

  .features-title p {
    font-size: 1.6rem;
    max-width: 60%;
    margin-left: 20%;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .features-title img {
    display: none;
  }

  a .primary-button {
    display: block;
    font-size: 1.2rem;
    background-color: var(--green-brand);
    height: 42px;
    max-width: 100%;
    margin-left: 33%;
    border: 1px solid transparent;
  }

  a .primary-button:hover {
    border: 1px solid transparent;
  }

  .secondary-button {
    font-size: 1.2rem;
    color: var(--green-brand);
    border: 1px solid var(--green-brand);
    height: 42px;
    margin-left: 33%;
    margin-top: 16px;
  }

  .secondary-button:hover {
    font-size: 1.2rem;
    color: white;
    border: 1px solid var(--yellow-brand);
    height: 42px;
    margin-left: 33%;
    margin-top: 16px;
  }
  .features-title-icon img {
    display: flex;
    max-width: 33%;
    margin-left: 33%;
    margin-bottom: 24px;
  }

  .features-highlights h1 {
    font-size: 2.4rem;
    max-width: 60%;
    margin-left: 20%;
  }

  .features-presentation ul {
    display: block;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

  .features-presentation ul:hover {
    margin-left: 10%;
    margin-right: 10%;
  }

  .features-presentation ul li {
    width: 100%;
  }

  .features-presentation ul li:hover {
    width: 100%;
    margin-top: 0;
  }

  .new-currency {
    min-height: 100vh;
  }

  .new-currency h2 {
    max-width: 60%;
    margin-left: 33%;
    margin-right: 33%;
  }

  .new-currency h3 {
    margin-left: 33%;
    margin-right: 20%;
  }

  .new-currency p {
    font-size: 1.6rem;
    max-width: 45%;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 16px;
  }

  .new-currency .primary-button {
    display: block;
    font-size: 1.2rem;
    background-color: var(--green-brand);
    height: 42px;
    max-width: 100%;
    margin-left: 33%;
  }

  .new-currency .primary-button:hover {
    background-color: var(--yellow-brand);
    border: 1px solid transparent;
  }

  .form-itens {
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }

  .form-itens .form-header img {
    display: none;
  }

  form div input,
  .mensagem,
  .form-inputs {
    min-width: 320px;
    width: 320px;
    margin: auto;
  }

  .form-inputs [type="number"] {
    margin-bottom: 8px;
  }

  footer {
    display: flex;
    padding: 16px;
    height: 60px;
    justify-content: center;
  }

  footer .imagem-footer {
    display: none;
  }

  footer .paragrafos-footer {
    display: none;
  }

  footer .icones-footer img {
    margin: 4px;
    width: 30px;
  }
}

/*
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #ffa300;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
*/
